<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337509626307-mrl7qqs0693hb2cefu513i5ssp9v0pjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337509626307-mrl7qqs0693hb2cefu513i5ssp9v0pjh</string>
	<key>API_KEY</key>
	<string>AIzaSyA_PBmNvH1LL-_fBOGGJsR8fxT4AJkOutg</string>
	<key>GCM_SENDER_ID</key>
	<string>337509626307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.fnp</string>
	<key>PROJECT_ID</key>
	<string>agnp-fnp-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>agnp-fnp-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337509626307:ios:f602ec326ed0485bfecd76</string>
</dict>
</plist>